html {
  font-size: 10px;
  font-family: 'Dongle', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li, i {
  font-size: 25px;
  line-height: 2;
  letter-spacing: 1px;
  color: white;
  text-align: justify;
}


html {
  background-color: #F9E4D4;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #470D21;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #9C0F48;
  text-shadow: 3px 3px 1px white;
}

img {
  display: block;
  margin: 0 auto;
  object-position: 50% 50%;
  width: 400px;
  height: 200px;
}

button {
  background: #F9E4D4;
  color: #470D21;
  display: block;
  margin: auto;
  font-size: 3rem;
  cursor: pointer;
  padding: 1.85rem 3rem;
  border-radius: 10rem;
  border-color: blueviolet;
  transform: scale(0.5);
  transition: transform 400ms;
}

button:hover {
      transform: scale(0.5);
      color: white;
      background: black;
      border-color: blanchedalmond;
  }

a:hover {
  color:brown;
  text-shadow: burlywood;
  font-style: em;
}